@model ControleDeCinema.WebApp.Models.InserirSalaViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Cadastro de Sala";
}

<div class="row mt-3">
    <div class="col-lg-6">
        <form id="filmeForm" class="needs-validation" asp-action="Inserir" method="post" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for="Capacidade" class="form-label">Capacidade da Sala:</label>
                <input type="number" class="form-control" id="Capacidade" asp-for="Capacidade" required />
                <div class="invalid-feedback">A capacidade da sala é obrigatória.</div>
            </div>

            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-secondary" href="/sala/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>

<script>
    (function () {
        'use strict'

        // Busca todos os formulários que necessitam de validação personalizada
        var forms = document.querySelectorAll('.needs-validation')

        // Faz um loop sobre eles e evita o envio
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
