@model ControleDeCinema.WebApp.Models.EditarFilmeViewModel;

@{
	Layout = "_Layout";
	ViewBag.Title = "Edição de Filme";
	List<string> generoFilme =
	[
		"Ação",
		"Aventura",
		"Chanchada",
		"Comédia",
		"Comédia dramática",
		"Comédia romântica",
		"Documentário",
		"Drama",
		"Espionagem",
		"Faroeste",
		"Fantasia",
		"Fantasia científica",
		"Ficção científica",
		"Guerra",
		"Mistério",
		"Musical",
		"Policial",
		"Romance",
		"Terror",
		"Thriller"
	];
}

<div class="row mt-3">
	<div class="col-lg-6">
		<form class="d-grid gap-4" asp-action="Editar">
        
			<div class="mt-2">
				<label class="control-label fw-semibold" >Título do filme:</label>
				<input class="form-control" asp-for="Titulo"/>
				<span class="text-danger my-3" asp-validation-for="Titulo"></span>
			</div>
            
			<div class="mt-2">
				<label class="control-label fw-semibold">Duração:</label>
				<input type="00:00:00" class="form-control" asp-for="Duracao" id="duracao"/>
				<span class="text-danger my-3" asp-validation-for="Duracao"></span>
			</div>
			
		
			<div class="mt-2">
				<label class="control-label fw-semibold">Gênero:</label>
				<select class="form-select" asp-for="Genero">
					<option selected>Selecione o gênero</option>

					@foreach (var genero in generoFilme)
					{
						<option>@genero</option>
					}
					
					<span class="text-danger my-3" asp-validation-for="Genero"></span>
				</select>
			</div>

			<div class="mt-2 d-grid gap-2 d-md-block">
				<button class="btn btn-primary px-5">
					<i class="bi bi-floppy-fill me-1"></i>
					Gravar
				</button>
            
				<a class="btn btn-secondary px-5" href="/filme/listar">
					<i class="bi bi-arrow-return-left me-1"></i>
					Voltar
				</a>
			</div>

		</form>

	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$("#duracao").mask("00:00:00", { reverse: true })
		});
	</script>
}
