@model ControleDeCinema.WebApp.Models.InserirFilmeViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Cadastro de Filme";
    List<string> generoFilme = new List<string>
    {
        "Ação",
        "Aventura",
        "Chanchada",
        "Comédia",
        "Comédia dramática",
        "Comédia romântica",
        "Documentário",
        "Drama",
        "Espionagem",
        "Faroeste",
        "Fantasia",
        "Fantasia científica",
        "Ficção científica",
        "Guerra",
        "Mistério",
        "Musical",
        "Policial",
        "Romance",
        "Terror",
        "Thriller"
    };
}

<div class="row mt-3">
    <div class="col-lg-6">
        <form id="filmeForm" class="needs-validation" asp-action="Inserir" method="post" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for="Titulo" class="form-label">Título do filme:</label>
                <input type="text" class="form-control" id="Titulo" asp-for="Titulo" required />
                <div class="invalid-feedback">O título do filme é obrigatório.</div>
            </div>

            <div class="mb-3">
                <label for="Duracao" class="form-label">Duração:</label>
                <input type="text" class="form-control" id="duracao" asp-for="Duracao" required />
                <div class="invalid-feedback">A duração do filme é obrigatória.</div>
            </div>

            <div class="mb-3">
                <label for="Genero" class="form-label">Gênero:</label>
                <select class="form-select" id="Genero" asp-for="Genero" required>
                    <option value="" selected disabled>Selecione um gênero</option>
                    @foreach (var genero in generoFilme)
                    {
                        <option value="@genero">@genero</option>
                    }
                </select>
                <div class="invalid-feedback">O gênero do filme é obrigatório.</div>
            </div>

            <div class="mb-3">
                <label for="Poster" class="form-label">Pôster:</label>
                <input type="file" class="form-control" id="Poster" asp-for="Poster" required />
                <div class="invalid-feedback">O pôster do filme é obrigatório.</div>
            </div>

            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-secondary" href="/filme/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>

<script>
    (function () {
        'use strict'

        // Busca todos os formulários que necessitam de validação personalizada
        var forms = document.querySelectorAll('.needs-validation')

        // Faz um loop sobre eles e evita o envio
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#duracao").mask("00:00:00", { reverse: true });
        });
    </script>
}