@model ControleDeCinema.WebApp.Models.InserirFilmeViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Cadastro de Filme";
    List<string> generoFilme = new List<string>
    {
        "Ação",
        "Aventura",
        "Chanchada",
        "Comédia",
        "Comédia dramática",
        "Comédia romântica",
        "Documentário",
        "Drama",
        "Espionagem",
        "Faroeste",
        "Fantasia",
        "Fantasia científica",
        "Ficção científica",
        "Guerra",
        "Mistério",
        "Musical",
        "Policial",
        "Romance",
        "Terror",
        "Thriller"
    };
}

<div class="row mt-3">
    <div class="col-lg-6">
        <form class="d-grid gap-4" asp-action="Inserir" method="post" enctype="multipart/form-data">
            <div class="mt-2">
                <label class="control-label fw-semibold mt-2" asp-for="Titulo">Título do filme:</label>
                <input class="form-control" asp-for="Titulo" />
                <span class="text-danger my-3" asp-validation-for="Titulo">O título do filme é obrigatório</span>
            </div>

            <div class="mt-2">
                <label class="control-label fw-semibold" asp-for="Duracao">Duração:</label>
                <input type="text" class="form-control" asp-for="Duracao" id="duracao" />
                <span class="text-danger my-3" asp-validation-for="Duracao">A duração do filme é obrigatória</span>
            </div>

            <div class="mt-2">
                <label class="control-label fw-semibold" asp-for="Genero">Gênero:</label>
                <select class="form-select" asp-for="Genero">
                    <option selected>Selecione um gênero</option>
                    @foreach (var genero in generoFilme)
                    {
                        <option value="@genero">@genero</option>
                    }
                </select>
                <span class="text-danger my-3" asp-validation-for="Genero"></span>
            </div>

            <div class="form-group">
                <label class="control-label fw-semibold" asp-for="Poster">Pôster:</label>
                <input type="file" class="form-control" asp-for="Poster" />
                <span asp-validation-for="Poster" class="text-danger">O pôster do filme é obrigatório</span>
            </div>

            <div class="mt-2 d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary px-5">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-secondary px-5" href="/filme/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#duracao").mask("00:00:00", { reverse: true });
        });
    </script>
}