@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ControleDeCinema.WebApp.Models.EditarSessaoViewModel;

@{
	Layout = "_Layout";
	ViewBag.Title = "Edição de Sessao";
}

<div class="row mt-3">
	<div class="col-lg-6">
		<form class="d-grid gap-4" asp-action="Editar">
        
			<div class="mt-2">
				<label class="control-label fw-semibold">Sala da sessao:</label>
				<input class="form-control" asp-for="Sala"/>
				<span class="text-danger my-1" asp-validation-for="Sala"></span>
			</div>
        
			<div class="form-check mt-2">
				@Html.CheckBoxFor(m => m.Encerrada, "disabled=disabled")
				<label class="form-check-label fw-semibold" for="Encerrada">
					Encerrada
				</label>
			</div>


			<div class="mt-2 d-grid gap-2 d-md-block">
				<button class="btn btn-primary px-5">
					<i class="bi bi-floppy-fill me-1"></i>
					Gravar
				</button>
            
				<a class="btn btn-secondary px-5" href="/sessao/listar">
					<i class="bi bi-arrow-return-left me-1"></i>
					Voltar
				</a>
			</div>

		</form>

	</div>
</div>