@model ControleDeCinema.WebApp.Models.InserirSessaoViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Cadastro de Sessão";

    var filmes = ViewBag.Filmes;
    var salas = ViewBag.Salas;
}

<div class="row mt-3">
    <div class="col-lg-6">
        <form id="sessaoForm" class="needs-validation" asp-action="Inserir" method="post" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for="Filme" class="form-label">Filme:</label>
                <select class="form-select" id="Filme" asp-for="FilmeId" required>
                    <option value="" selected disabled>Selecione um filme</option>
                    @foreach (var filme in filmes)
                    {
                        <option value="@filme.Id">@filme</option>
                    }
                </select>
                <div class="invalid-feedback">O filme é obrigatório.</div>
            </div>

            <div class="mb-3">
                <label for="Horario" class="form-label">Horário da sessão:</label>
                <input type="text" class="form-control" id="horario" asp-for="Horario" required />
                <div class="invalid-feedback">O horário é obrigatório.</div>
            </div>

            <div class="mb-3">
                <label for="Sala" class="form-label">Sala:</label>
                <select class="form-select" id="Sala" asp-for="SalaId" required>
                    <option value="" selected disabled>Selecione uma sala</option>
                    @foreach (var sala in salas)
                    {
                        <option value="@sala.Id">@sala</option>
                    }
                </select>
                <div class="invalid-feedback">A sala é obrigatória.</div>
            </div>

            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-secondary" href="/sessao/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>

<script>
    (function () {
        'use strict'

        // Busca todos os formulários que necessitam de validação personalizada
        var forms = document.querySelectorAll('.needs-validation')

        // Faz um loop sobre eles e evita o envio
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#horario").mask("00:00", { reverse: true });
        });
    </script>
}
